###  ( For This Project Self)
# gen-stub
gen-stub/lib/buf/*
gen-stub/lib/protoc/*
# go
opensergo-grpc-go/*
!opensergo-grpc-go/go.mod
!opensergo-grpc-go/go.sum
# java
opensergo-grpc-java/*
!opensergo-grpc-java/pom.xml






### macOS template
.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride

# intelij conf files
**/**/.idea/
*.iml
out/

# VSCode
.vscode

#eclipse conf files
.settings/
.eclipse
.myeclipse
.classpath
.project